h1{
	font-size: 2em; 
	font-weight: bold;
    font-family:'Times New Roman', Times, serif
}
h2{
	font-size: 2em; 
	font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background-color: pink;
}
img{
    height: 150px;
	width:auto;
    border: 3px solid brown;
    padding: 25px;
    border-radius: 20px;
    margin: 5px;
	margin-left: 10%
}
.special {
    background-color: palevioletred;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.highlight{
    background-color: rgb(197, 133, 197);
    margin-right: 40px;
    border-radius: 10px;  /* make it look rounded */
}
nav li:last-child{
    border: 4px solid #710fe8;
    border-radius: 5px;
}
nav a:focus{
    outline: 3px solid #f8284b;
    background-color: azure;
}
main img:hover{
    color: #FFFFFF;
    background-color: #fca2d5;
}
